body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
  }
  
  .card h2 {
    font-size: 18px;
  }
  
  .card p {
    font-size: 14px;
  }
  